
:root{
    --black:#000;
    --white:#ffffff;
    --lightgrey:#f1f1f1;
    --darkblue:#0d102c;
    --primarycolor:#3d51f2;
    --secondarycolor:#5670ef;
    --lightDark:#080A25;
    --darkText:#8388B4;
    --shadow: 1px 1px 50px -25px;
    --dark-mode: #0c0e25;
 }
 
 
body.active{
    color: #fff;
    background-color: red;
}




    .all .front.active{
        background-color: var(--dark-mode);
    }
    .all .front .top-nav.active{
        color: var(--white);
    }

    .all .front .five-depo-coren .btc.active,
    .all .front .five-depo-coren .eth.active,
    .all .front .five-depo-coren .usdt1.active,
    .all .front .five-depo-coren .usdt2.active,
    .all .front .five-depo-coren .bnb.active{
        background-color: var(--lightgrey);
    }
    .all .front .five-depo-coren div #trade-img.active{
        background-color: var(--white);
    }
    .all .front .five-depo-coren div #sec.active{
        background-color: var(--white);
    }

    .all .front .next-div1 .chart.active,
    .all .front .next-div1 .analysis.active,
    .all .front .next-div1 .rates.active{
        background-color: var(--lightgrey);
    }

    .all .front .next-div1 .chart .d-chart.active,
    .all .front .next-div1 .analysis #d-analysis.active,
    .all .front .next-div1 .rates #d-rates.active{
        background-color: var(--white);
    } 









.all{
    padding-left: 5%;
    padding-top: 5%;
    height: 750px;
}
.all .front{
    color: var(--black);
    border-radius: 20px;
    width: 95%;
    height: 90%;
    background-color: var(--lightgrey);  
    padding-left: 2%;
    padding-top: 20px; 
    overflow-x: hidden;
    /* transition: all 0.4s ease-in-out; */
}

.all .front .top-nav {
    width: 98%;
    /* height: 20%; */
    margin-bottom: 120px;
    /* background-color: red; */
}
.all .front .top-nav div{
    float: left;
    margin-left: 1%;
}


.all .front .top-nav .greet h3{
    font-size: 30px;
}
.all .front .top-nav .greet p{
    font-size: 12px;
}
.all .front .top-nav .greet p span{
    font-weight: 600;
}


.all .front .top-nav .search-bar{
    width: 40%;
    padding-top: 2%;
    padding-left: 5%;
    /* background-color: red; */
}
.all .front .top-nav .search-bar input{
    width: 97%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    padding-right: 35px;
}
.all .front .top-nav .search-bar i{
    margin-left: -40px;
    cursor: pointer;
    color: black;
    padding: 9px;
    padding-bottom: 12px;
    background-color: var(--lightgrey);
    /* position: relative; */
}

.all .front .top-nav .profile{
    margin-left: 10%;
    margin-top: 20px;
}
.all .front .top-nav .profile img{
    width: 40%;
    height: 50px;
    border-radius: 10px;
}
.all .front .top-nav .profile #profile-name{
    margin-top: -50px;
    font-weight: 600;
    margin-left: 60px;
}
.all .front .top-nav .profile #class{
    margin-left: 60px;
    font-size: 10px;
    display: inline;
    /* background-color: red; */
}
.all .front .top-nav .profile #class img{
    width: 15px;
    height: 15px;
    transform: translateY(5px);
}

.all .front .top-nav .ham{
    margin-left: 100px;
    margin-top: 30px;
    position: relative;
}
.all .front .top-nav .ham img{
    float: left;
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.all .front .top-nav .ham #sun{
    display: none;
}
.all .front .top-nav .ham #sun.active{
    display: block;
}
.all .front .top-nav .ham #moon{
    display: block;
}
.all .front .top-nav .ham #moon.active{
    display: none;
}


.all .front .top-nav .ham #wham{
    display: none;
}
.all .front .top-nav .ham #wham.active{
    display: block;
}
.all .front .top-nav .ham #bham{
    display: block;
}
.all .front .top-nav .ham #bham.active{
    display: none;
}














.all .front .sidebar{
    display: none;
    position: fixed;
    margin-top: -141px;
    height: 525px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--lightgrey);
    margin-left: 76.1%;
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 10px;
    animation: side 0.3s;
    transition: all 0.3s ease-in-out;
}
.all .front .sidebar.active{
    display: block;
}
.all .front .sidebar.highlight{
    background-color: var(--dark-mode);
}

@keyframes side {

    0%{
        opacity: 0;
        margin-left: 100%;
    }
    50%{
        opacity: 0;
        margin-left: 80%;
    }
    100%{
        opacity: 1;
        margin-left: 76.1%;
    }
}



.all .front .sidebar .ham{
    margin-left: 35px;
    margin-top: -86.5px;
    position: relative;
}
.all .front .sidebar .ham img{
    float: left;
    margin-left: 10px;
    width: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.all .front .sidebar .ham #sun2{
    display: none;
}
.all .front .sidebar .ham #sun2.active{
    display: block;
}
.all .front .sidebar .ham #moon2{
    display: block;
}
.all .front .sidebar .ham #moon2.active{
    display: none;
}


.all .front .sidebar .ham #wclose{
    display: none;
}
.all .front .sidebar .ham #wclose.active{
    display: block;
}
.all .front .sidebar .ham #bclose{
    display: block;
}
.all .front .sidebar .ham #bclose.active{
    display: none;
}

.all .front .sidebar ul{
    list-style: none;
    margin-top: 100px;
}
.all .front .sidebar ul #sul.active{
    color: red;
}
.all .front .sidebar ul li{
    margin-bottom: 30px;
    cursor: pointer;
}

.all .front .sidebar ul li a{
    color: #000;
}
.all .front .sidebar ul li #lin.active,
.all .front .sidebar ul li #lin2.active,
.all .front .sidebar ul li #lin3.active{
    color: #ffffff;
}
.all .front .sidebar ul li a img{
    width: 25px;
    margin-right: 5px;
    transform: translateY(7px);
}







.all .front .five-depo-coren{
    /* background-color: red; */
    width: 95%;
    margin-left: 20px;
    margin-bottom: 230px;
}
.all .front .five-depo-coren div{
    float: left;
    width: 200px;
    margin-bottom: 10px;
    padding-top: 5px;
    height: 70px;
    margin-right: 2%;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--shadow);
}
.all .front .five-depo-coren div img{
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px -5px;
    background-color: var(--lightgrey);
}
.all .front .five-depo-coren div #main-a{
    font-size: 20px;
    font-weight: 600;
    margin-left: 70px;
    margin-top: -50px;
}
.all .front .five-depo-coren div #main-a span{
    font-size: 11px;
    font-weight: 400;
}
.all .front .five-depo-coren div #add{
    margin-left: 70px;
    font-size: 11px;
    font-weight: 600;
    color: var(--primarycolor);
}
.all .front .five-depo-coren div section{
    background-color: var(--lightDark);
    margin-left: 130px;
    margin-top: -19px;
    width: 30%;
    height: 25px;
    font-size: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.all .front .five-depo-coren div section p{
    /* transform: translateY(5px); */
    margin-top: 1px;
    padding-top: 5px;
    color: var(--white);
}

.all .front .next-div1{
    padding-left: 15px;
}
.all .front .next-div1 div{
    float: left;
}
.all .front .next-div1 .chart{
    background-color: var(--white);
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 30px;
}
.all .front .next-div1 .analysis #anp,
.all .front .next-div1 .chart #chp,
.all .front .next-div1 .rates #rap{
    font-size: 16px;
    font-weight: 600;
}
.all .front .next-div1 .chart .d-chart{
    width: 95%;
    height: 75%;
    margin-top: 20px;
    background-color: var(--lightgrey);
}



.all .front .next-div1 .analysis{
    width: 235px;
    height: 250px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 30px;
}
.all .front .next-div1 .analysis #d-analysis{
    margin-top: 10px;
    width: 95%;
    height: 80%;
    background-color: var(--lightgrey);
}

.all .front .next-div1 .rates{
    width: 400px;
    height: 250px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.all .front .next-div1 .rates #d-rates{
    margin-top: 10px;
    width: 95%;
    height: 80%;
    background-color: var(--lightgrey);
}












@media (min-width: 200px){


    .all .front .sidebar{
        margin-top: -140px;
        margin-left: -5%;
        height: 100%;
        width: 95%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .all .front .sidebar .ham{
        margin-top: -70px;
        margin-left: 40%;
    }
    .all .front .sidebar .ham img{
        width: 30px;
    }
    .all .front .sidebar ul{
        margin-left: 40%;
    }
    @keyframes side {

        0%{
            opacity: 0;
            margin-top: -180px;
        }
        50%{
            opacity: 1;
            margin-top: -150px;
        }
        100%{
            opacity: 1;
            margin-top: -140px;
        }
    }

    .all{
        width: 100%;
        height: 2000px;
    }

    /* .all .front .top-nav{
        background-color: red;
    } */
    .all .front .top-nav .greet{
        width: 50%;
    }
    .all .front .top-nav .search-bar{
        margin-top: 20px;
        margin-left: -00%;
        width: 100%;
        /* background-color: red; */
    }
    .all .front .top-nav .search-bar input{
        width: 95%;
    }
    .all .front .top-nav .profile{
        /* margin-left: -500px; */
        transform: translateY(-140px);
        margin-left: 60%;
    }
    .all .front .top-nav .profile img{
        width: 30%;
        height: 40px;
    }
    .all .front .top-nav .profile #profile-name{
        margin-left: 45px;
    }
    .all .front .top-nav .profile #class{
        margin-left: 45px;
    }
    .all .front .top-nav .ham{
        margin-top: -300px;
        margin-left: 60%;
        /* float: left; */
    }

    .all .front .five-depo-coren{
        margin-left: 5%;
    }

    .all .front .five-depo-coren div{
        float: left;
        width: 150px;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 80px;
        margin-right: 2%;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }
    .all .front .five-depo-coren div img{
        width: 30px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 8px -5px;
        background-color: var(--lightgrey);
    }

    .all .front .five-depo-coren div #main-a{
        font-size: 15px;
        font-weight: 600;
        margin-left: 50px;
        margin-top: -30px;
        /* width: 90px;
        height: 25px; */
        overflow: hidden;
    }
    .all .front .five-depo-coren div #main-a span{
        font-size: 8px;
        font-weight: 400;
    }

    .all .front .five-depo-coren div #add{
        margin-left: 50px;
        font-size: 11px;
        font-weight: 600;
        color: var(--primarycolor);
    }

    .all .front .five-depo-coren div section{
        background-color: var(--lightDark);
        margin-left: 50px;
        margin-top: 0px;
        width: 50%;
        height: 25px;
    }

    .all .front .next-div1{
        padding-left: 3%;
    }
    .all .front .next-div1 div{
        float: left;
        width: 70%;
    }
    .all .front .next-div1 .chart,
    .all .front .next-div1 .analysis,
    .all .front .next-div1 .rates{
        background-color: var(--white);
        width: 95%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

@media (min-width: 250px){

    .all .front .top-nav .ham{
        margin-top: -300px;
        margin-left: 60%;
    }
    .all .front .five-depo-coren{
        margin-left: 16%;
    }
}

@media (min-width: 315px){

    .all .front .top-nav .ham{
        margin-top: -280px;
        margin-left: 70%;
    }
    .all .front .five-depo-coren{
        margin-left: 23%;
    }
}

@media (min-width: 340px){

    .all .front .five-depo-coren{
        margin-left: 26%;
    }

}

@media (min-width: 357px){
   .all .front .ham{
        margin-top: 250px;
        transform: translateY(30px);
   }
}



@media (min-width: 360px){

    .all .front .five-depo-coren{
        margin-left: 3%;
    }
    .all .front .five-depo-coren div{
        float: left;
        width: 145px;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 80px;
        margin-right: 2%;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }
}

@media (min-width: 400px){

    .all .front .five-depo-coren{
        margin-left: 1%;
    }
    .all .front .five-depo-coren div{
        margin-right: 2%;
        width: 160px;
    }
    .all .front .five-depo-coren div img{
        width: 40px;
    }
    .all .front .five-depo-coren div #main-a{
        margin-left: 60px;
        margin-top: -40px;
    }
    .all .front .five-depo-coren div #add{
        margin-left: 60px;
    }
    .all .front .five-depo-coren div section{
        width: 60%;
    }
}

@media (min-width: 474px){
    .all .front .top-nav .profile{
        transform: translateY(-120px);
    }
    .all .front .top-nav .ham{
        margin-top: -250px;
        margin-left: 80%;
        transform: none;
    }
    .all .front .top-nav .ham img{
        width: 25px;
    }
}

@media (min-width: 497px){

    .all .front .five-depo-coren{
        margin-left: 10%;
    }
    .all .front .five-depo-coren div{
        margin-right: 30px;
    }
}

@media (min-width: 500px){


    .all .front .sidebar{
        /* display: block; */
        margin-top: -140px;
        margin-left: -2%;
        height: 100%;
        width: 90%;
        /* background-color: red; */
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .all .front .five-depo-coren{
        margin-left: 2%;
    }
    .all .front .five-depo-coren div{
        float: left;
        width: 200px;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 70px;
        margin-right: 2%;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }
    .all .front .five-depo-coren div img{
        width: 50px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 8px -5px;
        background-color: var(--lightgrey);
    }
    .all .front .five-depo-coren div #main-a{
        font-size: 20px;
        font-weight: 600;
        margin-left: 70px;
        margin-top: -50px;
    }
    .all .front .five-depo-coren div #main-a span{
        font-size: 11px;
        font-weight: 400;
    }
    .all .front .five-depo-coren div #add{
        margin-left: 70px;
        font-size: 11px;
        font-weight: 600;
        color: var(--primarycolor);
    }
    .all .front .five-depo-coren div section{
        background-color: var(--lightDark);
        margin-left: 130px;
        margin-top: -19px;
        width: 30%;
        height: 25px;
    }
}

@media (min-width: 502px){
    .all .front .top-nav .search-bar{
        margin-top: 10px;
    }
    .all .front .top-nav .profile{
        /* margin-left: -500px; */
        transform: translateY(-120px);
        margin-left: 57%;
    }
    .all .front .top-nav .ham{
        margin-top: -185px;
        margin-left: 82%;
    }
}

@media (min-width: 550px){

    .all{
        width: 100%;
        height: 2000px;
    }

    .all .front .top-nav .search-bar{
        margin-top: 20px;
        margin-left: 8%;
        width: 80%;
        /* background-color: red; */
    }

    .all .front .top-nav .profile{
        /* margin-left: -500px; */
        transform: translateY(-140px);
        margin-left: 57%;
    }

    .all .front .five-depo-coren div{
        float: left;
        width: 200px;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 70px;
        margin-right: 2%;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }

    .all .front .next-div1{
        padding-left: 15%;
        margin-top: 400px;
    }
    .all .front .next-div1 div{
        float: left;
        width: 70%;
        background-color: red;
    }
    .all .front .next-div1 .chart,
    .all .front .next-div1 .analysis,
    .all .front .next-div1 .rates{
        background-color: var(--white);
        width: 80%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
        margin-bottom: 20px;
    }


    .all .front .five-depo-coren{
        margin-left: 7%;
    }
}



@media (min-width: 629px){
    .all .front .top-nav .profile{
        transform: translateY(-130px);
    }
    .all .front .top-nav .ham{
        margin-top: -165px;
    }

    .all .front .five-depo-coren{
        margin-left: 12%;
    }
}




@media (min-width: 720px){
    .all .front .five-depo-coren{
        margin-left: 16%;
    }
}



@media (min-width: 761px){
    .all .front .five-depo-coren{
        margin-left: 2%;
    }
}






@media (min-width: 761px){
    .all .front .five-depo-coren{
        margin-left: 2%;
    }
}



@media (min-width: 800px){


    .all .front .five-depo-coren{
        margin-left: 5%;
    }
}


@media (min-width: 850px){


    .all .front .five-depo-coren{
        margin-left: 8%;
    }
}


/* @media (min-width: 850px){


    .all .front .five-depo-coren{
        margin-left: 11%;
    }
} */


@media (min-width: 1000px){

    .all{
        padding-left: 5%;
        padding-top: 5%;
        height: 650px;
    }
    .all .front{
        border-radius: 20px;
        width: 95%;
        height: 90%;
        padding-left: 2%;
        padding-top: 20px; 
        overflow: hidden;
    }
    
    .all .front .top-nav {
        width: 98%;
        /* height: 20%; */
        margin-bottom: 120px;
        /* background-color: red; */
    }
    .all .front .top-nav div{
        float: left;
        margin-left: 1%;
    }
    
    
    .all .front .top-nav .greet h3{
        font-size: 35px;
    }
    .all .front .top-nav .greet p{
        font-size: 11px;
    }
    .all .front .top-nav .greet p span{
        font-weight: 600;
    }
    
    
    .all .front .top-nav .search-bar{
        width: 40%;
        padding-top: 2%;
        padding-left: 5%;
        margin-top: 0px;
        margin-left: -17%;
    }
    .all .front .top-nav .search-bar input{
        width: 97%;
        height: 40px;
        outline: none;
        padding-left: 10px;
        padding-right: 35px;
        margin-left: 0px;
    }
    .all .front .top-nav .search-bar i{
        margin-left: -40px;
        cursor: pointer;
        /* position: relative; */
    }
    
    .all .front .top-nav .profile{
        margin-left: 2%;
        margin-top: 10px;
        transform: none;
        /* background-color: red; */
    }
    .all .front .top-nav .profile img{
        width: 40%;
        height: 50px;
        border-radius: 10px;
    }
    .all .front .top-nav .profile #profile-name{
        margin-top: -50px;
        font-weight: 600;
        margin-left: 60px;
    }
    .all .front .top-nav .profile #class{
        margin-left: 60px;
        font-size: 10px;
        display: inline;
        /* background-color: red; */
    }
    .all .front .top-nav .profile #class img{
        width: 15px;
        height: 15px;
        transform: translateY(5px);
    }
    
    .all .front .top-nav .ham{
        margin-left: 92%;
        margin-top: -50px;
        transform: none;
    }
    .all .front .top-nav .ham img{
        width: 24px;
        transition: all 0.3s ease-in-out;
    }
  
    .all .front .sidebar{
        margin-top: -140px;
        margin-left: -2%;
        height: 82%;
        width: 90.5%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    
    .all .front .five-depo-coren{
        /* background-color: red; */
        width: 100%;
        margin-left: 0%;
        margin-bottom: 220px;
    }
    .all .front .five-depo-coren div{
        float: left;
        width: 160px;
        height: 70px;
        margin-bottom: 10px;
        padding-top: 5px;
        margin-right: 1%;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }
    .all .front .five-depo-coren div img{
        width: 50px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 8px -5px;
        background-color: var(--lightgrey);
    }
    .all .front .five-depo-coren div #main-a{
        font-size: 15px;
        font-weight: 600;
        margin-left: 70px;
        margin-top: -50px;
    }
    .all .front .five-depo-coren div #main-a span{
        font-size: 8px;
        font-weight: 400;
    }
    .all .front .five-depo-coren div #add{
        margin-left: 70px;
        margin-top: -4px;
        font-size: 11px;
        font-weight: 600;
        color: var(--primarycolor);
    }
    .all .front .five-depo-coren div section{
        background-color: var(--lightDark);
        margin-left: 70px;
        margin-top: 0px;
        width: 45%;
        height: 25px;
    }
    
    
    .all .front .next-div1{
        margin-top: 0px;
        padding-left: 15px;
    }
    .all .front .next-div1 div{
        float: left;
    }
    .all .front .next-div1 .chart{
        background-color: var(--white);
        width: 32%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
    }
    .all .front .next-div1 .analysis #anp,
    .all .front .next-div1 .chart #chp,
    .all .front .next-div1 .rates #rap{
        font-size: 16px;
        font-weight: 600;
    }
    .all .front .next-div1 .chart .d-chart{
        width: 95%;
        height: 75%;
        margin-top: 20px;
        background-color: var(--lightgrey);
    }
    
    
    
    .all .front .next-div1 .analysis{
        width: 235px;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 30px;
    }
    .all .front .next-div1 .analysis #d-analysis{
        margin-top: 10px;
        width: 95%;
        height: 80%;
        background-color: var(--lightgrey);
    }
    
    .all .front .next-div1 .rates{
        width: 30%;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .all .front .next-div1 .rates #d-rates{
        margin-top: 10px;
        width: 95%;
        height: 80%;
        background-color: var(--lightgrey);
    }


}



@media (min-width: 1037px){

    .all .front .five-depo-coren{
        /* background-color: red; */
        width: 95%;
        margin-left: 2%;
        margin-bottom: 220px;
    }
}


@media (min-width: 1150px){


    .all .front .five-depo-coren{
        margin-left: 7%;
    }
    .all .front .next-div1{
        margin-top: 200px;
        padding-left: 15px;
    }
    .all .front .next-div1 div{
        float: left;
    }
    .all .front .next-div1 .chart{
        background-color: var(--white);
        width: 33%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
    }
    
    
    .all .front .next-div1 .analysis{
        width: 235px;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 30px;
    }
    
    .all .front .next-div1 .rates{
        width: 33%;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

}


@media (min-width: 1000px) and (min-height: 900px){

    .all{
        width: 100%;
        height: 2000px;
    }

    .all .front .top-nav .search-bar{
        margin-top: 20px;
        margin-left: 8%;
        width: 80%;
        /* background-color: red; */
    }

    .all .front .top-nav .profile{
        /* margin-left: -500px; */
        transform: translateY(-150px);
        margin-left: 75%;
    }

    .all .front .top-nav .ham{
        margin-left: 92%;
        margin-top: -180px;
        transform: none;
    }

    .all .front .sidebar{
        margin-top: -140px;
        margin-left: -5%;
        height: 100%;
        width: 95%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .all .front .next-div1{
        padding-left: 15%;
        margin-top: 300px;
    }
    .all .front .next-div1 div{
        float: left;
        width: 70%;
        background-color: red;
    }
    .all .front .next-div1 .chart,
    .all .front .next-div1 .analysis,
    .all .front .next-div1 .rates{
        background-color: var(--white);
        width: 80%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
}






@media (min-width: 1200px){

    .all .front .top-nav .search-bar{
        margin-left: -22%;
        width: 50%;
    }

    .all .front .five-depo-coren{
        /* background-color: red; */
        width: 95%;
        margin-left: 20px;
        margin-bottom: 230px;
    }

    .all .front .five-depo-coren div{
        margin-right: 5px;
        width: 196px;
        float: left;
        margin-bottom: 10px;
        padding-top: 5px;
        height: 70px;
        border-radius: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }
    .all .front .five-depo-coren div img{
        width: 50px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 1px 1px 8px -5px;
        background-color: var(--lightgrey);
    }
    .all .front .five-depo-coren div #main-a{
        font-size: 20px;
        font-weight: 600;
        margin-left: 70px;
        margin-top: -50px;
    }
    .all .front .five-depo-coren div #main-a span{
        font-size: 11px;
        font-weight: 400;
    }
    .all .front .five-depo-coren div #add{
        margin-left: 70px;
        font-size: 11px;
        font-weight: 600;
        color: var(--primarycolor);
    }
    .all .front .five-depo-coren div section{
        background-color: var(--lightDark);
        margin-left: 130px;
        margin-top: -19px;
        width: 30%;
        height: 25px;
    }

    .all .front .next-div1 .chart{
        background-color: var(--white);
        width: 33%;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
    }
    
    
    .all .front .next-div1 .analysis{
        width: 235px;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 30px;
    }
    
    .all .front .next-div1 .rates{
        width: 35%;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
}


@media (min-width: 1250px){
    .all .front .five-depo-coren div{
        margin-right: 8px;
        width: 200px;
    }
}

@media (min-width: 1300px){

    .all .front .top-nav .search-bar{
        margin-left: -26%;
        width: 50%;
    }

    .all .front .five-depo-coren div{
        margin-right: 17px;
        width: 200px;
    }


    .all .front .next-div1{
        margin-top: 200px;
        padding-left: 15px;
    }
    .all .front .next-div1 div{
        float: left;
    }
    .all .front .next-div1 .chart{
        background-color: var(--white);
        width: 400px;
        height: 250px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 30px;
    }
    .all .front .next-div1 .analysis #anp,
    .all .front .next-div1 .chart #chp,
    .all .front .next-div1 .rates #rap{
        font-size: 16px;
        font-weight: 600;
    }
    .all .front .next-div1 .chart .d-chart{
        width: 95%;
        height: 75%;
        margin-top: 20px;
        background-color: var(--lightgrey);
    }
    
    
    
    .all .front .next-div1 .analysis{
        width: 235px;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 30px;
    }
    .all .front .next-div1 .analysis #d-analysis{
        margin-top: 10px;
        width: 95%;
        height: 80%;
        background-color: var(--lightgrey);
    }
    
    .all .front .next-div1 .rates{
        width: 400px;
        height: 250px;
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .all .front .next-div1 .rates #d-rates{
        margin-top: 10px;
        width: 95%;
        height: 80%;
        background-color: var(--lightgrey);
    }

}



@media (min-width: 1350px){

    .all .front .five-depo-coren{
        margin-left: 3%;
    }
    .all .front .five-depo-coren div{
        margin-right: 2%;
        width: 200px;
    }
    .all .front .next-div1{
        margin-left: 2%;
    }
}