<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Cryptoshield</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=verified" /> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <link rel="icon" href="/images/logo without text.png">

</head>
<body>
    



    <div class="all">



        <div class="front">

            <div data-aos="fade-down" class="top-nav">

                <div class="greet">
                    <h3>Good Morning <span id="name"></span></h3>
                    <p>Market has been <span>growing</span> in volume at rate of <span id="rate"> 25%</span></p>
                </div>
              

                <div class="search-bar">
                    <input type="text" name="" id="searching" placeholder="Search anything here">
                    <i class="fa fa-search"></i>
                </div>

                <div class="profile">
                   <img src="/images/IMG-20241013-WA0008.jpg" alt="user profile picture" id="profile-pic">
                    <!-- <i class="fa fa-search"></i> -->
                    <p id="profile-name"><%= user.fullname %></p>
                    <p id="class">
                        <img src="/images/verified_24dp_789DE5_FILL0_wght400_GRAD0_opsz24.png" alt="">
                        premium
                    </p>
                </div>

                <div class="ham">
                    <img src="/images/hamburger-svgrepo-com (1).png" alt="" id="bham">
                    <img src="/images/hamburger-svgrepo-com.png" alt="" id="wham">
                    <img src="/images/sun-2-svgrepo-com (2).png" alt="" id="sun">
                    <img src="/images/moon-svgrepo-com.png" alt="" id="moon">
                </div>

            </div>



            <div class="sidebar">

                <div class="ham">
                    <img src="/images/close-circle-svgrepo-com.png
                    " alt="" id="bclose">
                    <img src="/images/close-svgrepo-com (1).png" alt="" id="wclose">
                    <img src="/images/sun-2-svgrepo-com (2).png" alt="" id="sun2">
                    <img src="/images/moon-svgrepo-com.png" alt="" id="moon2">
                </div>

                <ul>
                    <li><a href="" id="lin"><img src="/images/profile-1335-svgrepo-com.png" alt="">Profile</a></li>
                    <li><a href="" id="lin2"><img src="/images/wallet-svgrepo-com.png" alt="">Withdraw</a></li>
                    <li><a id="lin3"><img src="/images/power-symbol-svgrepo-com.png" alt="">Logout</a></li>
                </ul>
            </div>

            <div class="logpop">

                <div class="d-logp">
                <p class="head">Logout</p>

                <p class="quest">Are you sure you want to log out?</p>

                <div class="two-btns">
                    <button class="cancel">Cancel</button>
                    <button class="gout">Logout</button>
                </div>

            </div>
            </div>


            <div data-aos="fade-up" class="five-depo-coren">
                <div class="btc">
                    <img src="/images/btcoin.png" id="trade-img" alt="">
                    <p id="main-a">00.00 <span>BTC</span></p>
                    <p id="add">+20.39%</p>
                    <section id="sec1">
                        <p id="dp">+ deposit</p>
                    </section>
                </div>
                <div class="eth">
                    <img src="/images/eth icon.png" id="trade-imgg" alt="">
                    <p id="main-a">00.00 <span>ETH</span></p>
                    <p id="add">+25.59%</p>
                    <section id="sec2">
                        <p id="dp2">+ deposit</p>
                    </section>
                </div>
                <div class="usdt1">
                    <img src="/images/usdt.png" id="trade-imggg" alt="">
                    <p id="main-a">00.00 <span>USDT Trc20</span></p>
                    <p id="add">+10.42%</p>
                    <section id="sec3">
                        <p id="dp3">+ deposit</p>
                    </section>
                </div>
                <div class="usdt2">
                    <img src="/images/usdt.png" id="trade-imgggg" alt="">
                    <p id="main-a">00.00 <span>USDT Erc20</span></p>
                    <p id="add">+30.39%</p>
                    <section id="sec4">
                        <p id="dp4">+ deposit</p>
                    </section>
                </div>
                <div class="bnb">
                    <img src="/images/bnb icon.png" id="trade-imggggg" alt="">
                    <p id="main-a">00.00 <span>BNB</span></p>
                    <p id="add">+30.32%</p>
                    <section id="sec5">
                        <p id="dp5">+ deposit</p>
                    </section>
                </div>
            </div>






            <div class="in-d-mid">

                <div class="refer-wallet">
                    <p class="head">Referal Balance</p>
                    <button class="add-p">Refer People</button>
                    <p class="refered-bal">$0.00</p>
                </div>

                <div class="refer">
                    <p class="head">Referal Number</p>
                    <p id="refer-id">ue73mf9fbw6308bef8ene9be8e</p>
                    <p class="copied"><i class="fa-regular fa-copy"></i></p>
                </div>

                <div class="wallet-add">
                    <p class="head">Wallet Address</p>
                    <p id="wall-add">hsud8ne8en839ndn83688o9na7</p>
                    <p class="copied"><i class="fa-regular fa-copy"></i></p>
                </div>
            </div>








            <div class="next-div1">

                <div data-aos="fade-up" class="chart">
                    <p id="chp">Market Rates</p>

                    <section class="d-chart" >
                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                        <script type="text/javascript">
                          new TradingView.widget({
                            "container_id": "tradingview_12345",
                            "autosize": true,
                            "symbol": "BINANCE:BTCUSDT",
                            "interval": "D",
                            "theme": "theme",
                            "style": "1",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "hide_top_toolbar": true,
                            "withdateranges": true,
                            "enable_publishing": false,
                            "allow_symbol_change": true,
                            "save_image": false,
                            "studies": [
                              "RSI@tv-basicstudies"
                            ],
                            "show_popup_button": true
                          });
                        </script>
                          
                          
                    </section>

                </div>


                <div data-aos="fade-up" class="analysis">
                    <p id="anp">Analysis</p>

                    <section id="d-analysis">

                        <div class="increase">
                            <p>Increase</p>
                        <img src="/images/Group 3.svg" alt="">
                    </div>

                    <div class="decrease">
                        <p>Decrease</p>
                    <img src="/images/Group 4.svg" alt="">
                </div>

                <div class="increase">
                    <p>Increase</p>
                <img src="/images/Group 3.svg" alt="">
            </div>
                    </section>
                </div>

                <div data-aos="fade-up" class="rates">
                    <p id="rap">Performance</p>

                    <section id="d-rates">
                        <table>
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>AVG</th>
                                <th>Value</th>
                                <th>1h</th>
                                <th>24h</th>
                                <th>1m</th>
                              </tr>
                            </thead>
                            <tbody id="crypto-table">
                              <!-- Data will be populated here -->
                            </tbody>
                          </table>

                    </section>
                </div>
            </div>

        </div>

        <div class="popup">
            <div class="d-pop1">
                <div class="clo">
                    <p>X</p>
                </div>
                <p class="head">Deposit</p>
        
                <label for="">Amont</label><br>
                <input type="text" placeholder="Enter Amount"> <br><br>
        
                <label for="">Coin</label>
                <br>
                <select name="" id="">
                    <option value="">--Select coin to deposite</option>
                    <option value="">BTC</option>
                    <option value="">ETH</option>
                    <option value="">USDT Erc20</option>
                    <option value="">USDT Trc20</option>
                    <option value="">BNB</option>
                </select>
        
                <div class="btn">
                    <button id="depo">Deposit</button>
                </div>
            </div>
        </div>

</div>






 
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    
    <script src="/js/dashboard.js"></script>
</body>
</html>