<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Web</title>
    <link rel="icon" href="/assets/quickmedlogo.PNG">
    
    <link rel="stylesheet" href="dash.css">
    <script src="https://kit.fontawesome.com/aa7454d09f.js" crossorigin="anonymous"></script>
</head>
<body>


    <div class="front">

        <div class="first-row">
        <div class="back">
            <img src="/assets/arrow-sm-right-svgrepo-com.png" alt="">
        </div>

        <div class="text">
            <p>Dashborad</p>
        </div>

        <div class="serchb">
            <i class="fa fa-search"></i>
            <input type="text" name="" id="" placeholder="search something">
        </div>

        <div class="acct">
            <p>Destty Nelly</p>
            <img src="/assets/profile.jpg" alt="">
        </div>
    </div>

    <div class="second-row">
        
        <div class="income">

            <p id="ex">Crypto Inflows</p>

            <p id="cash">$5340.00 <span>on this week</span></p>

            <p id="dot">..</p>

            <div class="divs">
                <div id="gaa"></div>
                <div id="gaa2"></div>
                <div id="gaa3"></div>
                <div id="gaa4"></div>
                <div id="gaa5"></div>
                <div id="gaa6"></div>
                <div id="gaa7"></div>
            </div>

            <div class="divs2">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thu</p>
                <p>Fri</p>
                <p>Sat</p>
                <p>Sun</p>
            </div>

        </div>

        <div class="expences">

            <p id="ex">Crypto Outflows</p>

            <p id="cash">$7950.00 <span>on this week</span></p>

            <p id="dot">..</p>

            <div class="divs">
                <div id="gaa"></div>
                <div id="gaa2"></div>
                <div id="gaa3"></div>
                <div id="gaa4"></div>
                <div id="gaa5"></div>
                <div id="gaa6"></div>
                <div id="gaa7"></div>
            </div>

            <div class="divs2">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thu</p>
                <p>Fri</p>
                <p>Sat</p>
                <p>Sun</p>
            </div>

        </div>

        <!-- <div class="your-cards">

            <p>Your cards</p>

            <div class="two-divs">
                <div class="div-1">
                    <img src="assets/mastercard.png" alt="">
                    <p id="degit1">**** 2758</p>
                </div>

                <div class="div-2">
                    <img src="assets/mastercard.png" alt="">
                    <p id="degit2">**** 2758</p>
                </div>
            </div>

        </div> -->
    </div>
<br>
    <div class="third-row">
        
        <div class="upgrade">

            <p id="head">Upgrade your account to <span>Pro+</span></p>

            <p id="body">With a <span>Pro+</span> account you get  many additional <br> and convenient festures to control your finaces</p>

            <img src="assets/rocket_two-removebg-preview.png" alt="" id="ani">

            <div class="forward">
                <img src="assets/arrow-sm-right-svgrepo-com.png" alt="">
            </div>
        </div>
        
        <div class="category">

            <p>Statistics by categoty</p>

            <div class="big">
                <div class="small">
                    <p>100 <span>%</span></p>
                </div>
            </div>

            <ul>
                <li>Other expenses - 50%</li>
                <li>Entertainment - 35%</li>
                <li>Investment - 15%</li>
            </ul>

            <div class="imgs">
                <img src="assets/arrow-sm-right-svgrepo-com.png" alt="">
                <img src="assets/arrow-sm-right-svgrepo-com.png" alt="">
                <img src="assets/arrow-sm-right-svgrepo-com.png" alt="">
            </div>

        </div>
    </div>

    <div class="last-row">

        <div class="last-trans">

            <p id="trans">Latest transactions</p>

            <p id="see2">See all</p>
            <p id="see3">X</p>

            <div class="sion">
                <div class="one">
                    <img src="assets/profile.jpg" alt="">
                    <div class="pees">
                    <p id="name">James Momodu</p>

                    <p id="job">Doctor</p>

                    <p id="date">Aug 1, 4:30pm</p>

                    <p id="id">ID:46372</p>

                    <p id="amount">-$800.67</p>
                </div>
                </div>

                <div class="one1">
                    <img src="assets/profile.jpg" alt="">
                    <div class="pees">
                    <p id="name">Heavens Gate</p>

                    <p id="job">Hospital</p>

                    <p id="date">Oct 30, 12:30pm</p>

                    <p id="id">ID:76358</p>

                    <p id="amount">-$1000.82</p>
                </div>
                </div>

                <div class="one">
                    <img src="assets/profile.jpg" alt="">
                    <div class="pees">
                    <p id="name">Henry jude</p>

                    <p id="job">Consultant</p>

                    <p id="date">Oct 20, 2:42pm</p>

                    <p id="id">ID:95362</p>

                    <p id="amount">-$600.43</p>
                </div>
                </div>
            </div>

        </div>
    </div>



    </div>
    <script src="dashboard.js"></script>
    <!-- <script >

document.getElementById("see2").addEventListener("click", function(){
    // document.querySelector(".see3").classList.add("active")
    document.querySelector(".last-trans").classList.add("active")
    
    document.getElementById("see2").classList.add("active")
    
})

document.getElementById("see3").addEventListener("click", function(){
    document.querySelector(".last-trans").classList.remove("active")
})
    </script> -->
</body>
</html>