<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <script src="https://kit.fontawesome.com/aa7454d09f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="images/logo without text.png">
    <title>Cryptoshield</title>
</head>
<body>


    <div class="all">
        <nav>
            <div class="logo">
                <a href="/">
                    <p class="show">Cryptoshield</p>
                </a>
            </div>

            <ul class="nav-l">

                <div class="logo">
                    <a href="/">
                    <p class="show">Cryptoshield</p>
                </a>
                </div>

            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="./aboutus">About Us</a></li>
            <li class="nav-link"><a href="./contact">Contact</a></li>
            <li class="sociallinkContainer">
                <img class="sociallink" src="./images/fabook-icon-white.svg" alt="">
                <img class="sociallink" src="./images/twitter-icon-white.svg" alt="">
                <img class="sociallink" src="./images/inkedin-icon-white.svg" alt="">
                <img class="sociallink" src="./images/whatsapp-icon-white.svg" alt="">

     
            </li>
        </ul>
    <!-- </div> -->
      
               
    <div id="barContainer">
        <i id="bar" class="fa-solid fa-bars"></i>
    </div>
        </nav>

   
        <form action="https://crypto-website-git-main-destty-nellys-projects.vercel.app/api/auth/dashboard" method="post">
    <div class="signup">
    
        <div class="name">
            

            <p class="head">Signup</p>
            <p>Input Name</p>

            
            <label for="Fullname">Fullname</label> <br>
            <input type="text" name="fullname" id="fullname" placeholder="Jude Brian" required>  <br><br>


            <label for="Email">Email</label> <br>
            <input type="text" name="email" id="Email" placeholder="judebrian@gmail.com" required>  <br><br>


            <button class="go">Continue</button>

        
        </div>
   


        <div class="Phone">
            <p>Enter Email</p>

            <label for="Country">Select Country</label><br>
            <select name="country" id="Country" required>
                <option value="">Select a country</option>
                <option value="Nigeria">Nigeria</option>
            </select> <br>
            

            <label for="Username">Phone Number</label> <br>
            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="398492938" required> <br><br>
            
         

            <div class="backimg">
            
                <img src="images/arrow-sm-left-svgrepo-com normal.png" alt="" class="back" id="arrow">
        </div>

            <button class="go2">Continue</button>

     
        </div>


        <div class="password">
            <p>Enter Password</p>

        
            
            <label for="Password">Password</label> <br>
            <input type="password" name="password" id="Password" placeholder="************" required>  <br><br>
            

            <div class="backimg">
            <img src="images/arrow-sm-left-svgrepo-com normal.png" alt="" class="back2" id="arrow">
        </div>
            <button type="submit" class="go3">Signup</button>
     
        
        </div>
    </form>

        <div class="change">
            <h5>Already have an account? <a href="login">Login</a></h5>
        </div>
    </div>



    <!-- <div class="signup">
        <form action="">
            <label for="">rat</label>
            <input type="text" name="ie" id="oo" required>
            <button class="go">jjjj</button>
        </form>
    </div> -->


</div>




<div class="comm">
    <div class="over"></div>
   
    <img src="images/globe-1-svgrepo-com (1).png" alt="">

</div>

    <!--  <form action="none">

        <label for="Fullname">Fullname</label> <br>
            <input type="text" name="name" id="fullname" placeholder="Zainab Kehinde" disabled>  <br><br>


            <label for="Username">Username</label> <br>
            <input type="text" name="Username" id="Username" placeholder="Kehinde224" disabled>  <br><br>

            <label for="Email">Email</label> <br>
            <input type="text" name="Email" id="Email" placeholder="ZainabKehinde13@gmail.com" disabled>  <br><br>


            <label for="Phone Number">Phone Number</label> <br>
            <input type="text" name="number" id="Phone-number" placeholder="08034526543" disabled>  <br><br>


            <label for="Account Number">Account Number</label> <br>
            <input type="text" name="Account-number" id="Account-number" placeholder="0948737322" disabled>  <br><br>


            <label for="Sponsor's ID">Sponsor's ID</label> <br>
            <input type="text" name="Sponsor's ID" id="Sponsor's-ID" placeholder="ggdgdgdgdgdgd" disabled>  <br><br>


            <label for="Sponsor's Phone Number">Sponsor's Phone Number</label> <br>
            <input type="text" name="Sponsor's Phone Number" id="Sponsor's-number" placeholder="93736253746" disabled>  <br><br>


            <label for="Password">Password</label> <br>
            <input type="text" name="Password" id="Password" placeholder="************" disabled>  <br><br>


            <label for="Transaction Password">Transaction Password</label> <br>
            <input type="text" name="Transaction-Password" id="Transaction-Password" placeholder="*************" disabled>  <br><br>

    </form> -->

    <script src="/js/sign.js"></script>
</body>
</html>