


:root{
    --black:#000;
    --white:#ffffff;
    --lightgrey:#f1f1f1;
    --darkblue:#0d102c;
    --primarycolor:#3d51f2;
    --secondarycolor:#5670ef;
    --lightDark:#080A25;
    --darkText:#8388B4;
    --shadow: 1px 1px 50px -25px;
    --dark-mode: #0c0e25;
    --overlay: #0000006c;
 }

 .all{
    height: 2500px;
 }

 .all .front.active{
    background-color: var(--dark-mode);
    overflow-y: hidden;
 }






@media (min-width: 200px){

    


.all .front .in-d-mid{
    height: 300px;
    width: 100%;
    margin-left: -5px;
}
.all .front .in-d-mid div{
    float: left;
    margin-bottom: 10px;
    width: 90%;
    background-color: var(--white);
    height: 60%;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
.all .front .in-d-mid div .refered-bal{
    font-size: 22px;
    margin-top: -80px;
}
.all .front .in-d-mid div .add-p{
    margin-top: 60px;
    width: 65%;
    margin-left: 30%;
    opacity: 0;
}

.all .front .in-d-mid div #refer-id,
.all .front .in-d-mid div #wall-add{
    width: 90%;
    height: none;
}
.all .front .in-d-mid div .copied{
    margin-top: 30px;
    width: 50px;
    margin-left: 60%;
}
}


@media (min-width: 300px){


    .all .front .in-d-mid{
        height: 300px;
        margin-left: 1%;
    }
    .all .front .in-d-mid div{
        float: left;
        margin-bottom: 10px;
        width: 90%;
        background-color: var(--white);
        height: 50%;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 10px;
    }
    }



    @media (min-width: 500px){

    


        .all .front .in-d-mid{
            height: 300px;
        }
        .all .front .in-d-mid div .copied{
            margin-left: 80%;
        }
 }


 @media (min-width: 550px){

    


    .all .front .in-d-mid{
        height: 300px;
        margin-bottom: 0px;
        margin-left: 13%;
    }
    .all .front .in-d-mid div{
        width: 69%;
    }
    .all .front .in-d-mid div .copied{
        margin-left: 80%;
    }






}








@media (min-width: 1000px){


    .all .front .in-d-mid{
        height: 100px;
        width: 100%;
        margin-left: 2%;
    }
    .all .front .in-d-mid div{
        float: left;
        margin-left: 10px;
        width: 30%;
        background-color: var(--white);
        height: 100%;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 10px;
    }
    .all .front .in-d-mid div .head{
        font-weight: 500;
        font-size: 20px;
    }
    .all .front .in-d-mid div .refered-bal{
        font-size: 40px;
        margin-top: -50px;
    }
    .all .front .in-d-mid div .add-p{
        margin-left: 70%;
        margin-top: 20px;
        width: 28%;
        font-family: "poppins", sans-serif;
        background-color: var(--darkblue);
        color: var(--white);
        height: 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .all .front .in-d-mid div #refer-id,
    .all .front .in-d-mid div #wall-add{
        font-size: 17px;
        color: var(--primarycolor);
        overflow: hidden;
        width: 90%;
        height: 25px;
    }
    .all .front .in-d-mid div .copied{
        width: 10%;
        height: 30px;
        background-color: var(--darkblue);
        border-radius: 5px;
        margin-left: 80%;
        cursor: pointer;
        text-align: center;
        padding-top: 5px;
        margin-top: 0;
    }
    .all .front .in-d-mid div .copied i{
        font-size: 20px;
        color: var(--white);
        font-weight: 300;
        text-align: center;
    }
    
}







@media (min-width: 1350px){

    .all .front .in-d-mid{
        width: 1120px;
    }
    .all .front .in-d-mid div{
        width: 32%;
    }
}